/* Contact Form */

.contact-form {
    background: linear-gradient(to bottom, #f9f7f6, #f1eaf6); 
    padding: 40px; 
    max-width: 600px; 
    margin: 0 auto; 
    border-style: double;
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;
}

.contact-form:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Apply a stronger box-shadow on hover */
    transform: scale(1.05); /* Enlarge the container on hover */
}

.contact-form h1 {
    font-size: 32px; 
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contact-form form {
    text-align: left;
}

.contact-form label {
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form input[type="button"] {
    background: linear-gradient(to bottom, #aa88e0, #9434bd); /* Gradient background for the button */
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 97%;
    font-size: 16px;
    transition: transform 0.3s; 
}

.contact-form input[type="button"]:hover {
    background: linear-gradient(to bottom, #9434bd, #aa88e0);
    transform: scale(1.05); /* Enlarge the button on hover */
}

#about-us {
    position:flex;
    border-style: double;
    background: linear-gradient(to bottom, #f9f7f6, #f1eaf6);
    padding: 50px;
    text-align: center;
    max-width: 700px;
    margin:0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 60px;
}

#about-us h2 {
    font-size: 32px;
    color: #120c0c;
    margin-bottom: 20px;
}

#about-us p {
    font-size: 18px;
    color: #0d0909;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    #about-us {
        padding: 20px;
        border-radius: 0;
    }

    #about-us h2 {
        font-size: 24px;
    }

    #about-us p {
        font-size: 16px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        transition: transform 0.3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
}
