.login-form {
    background: linear-gradient(to bottom, #f9f7f6, #f1eaf6); 
    padding: 40px; 
    max-width: 800px; 
    margin: 0 auto; 
    border: 1px solid #d576c7; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    margin-top: 60px;
    text-align: center;
}

.login-form h2 {
    font-size: 32px; 
    color: #333;
    margin-bottom: 20px;
}

.login-form form {
    text-align: left;
}

.login-form label {
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-form input[type="button"] {
    background: linear-gradient(to bottom, #aa88e0, #9434bd); 
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 97%;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s; 
}

.login-form input[type="button"]:hover {
    background: linear-gradient(to bottom, #9434bd, #aa88e0); 
}

.login-form p {
    text-align: center;
    margin-top: 10px;
}
