.login-form {
    background-color: #d4cccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-left: 40px;
    margin-top: 60px;
}


.login-form h2 {
    text-align: center;
    color: #333;
}

.login-form form {
    text-align: left;
}

.login-form label {
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-form input[type="button"] {
    background-color: #aa88e0;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 97%;
    font-size: 16px;
    margin-top: 20px;
}

.login-form input[type="button"]:hover {
    background-color: #9434bd;
}

.login-form p {
    text-align: center;
    margin-top: 10px;
}