body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0;
    background-color: #9a7575;
}

.scene {
    perspective: 300px; 
}

.cube {
    width: 60px;
    height: 60px; 
    position: left;
    transform-style: preserve-3d;
    animation: rotate 6s linear infinite;
    display: inherit;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(244, 240, 240, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.front {
    background: rgb(249, 248, 248);
}

.back {
    background: rgb(250, 247, 247);
    color: black;
}

.right {
    background: rgb(247, 244, 247);
}

.left {
    color: rgb(45, 11, 11);
}

.front  { transform: translateZ(30px); } /*reference: youtube video*/
.back   { transform: rotateY(180deg) translateZ(30px); } /*reference: youtube video*/
.right  { transform: rotateY(90deg) translateZ(30px); } /*reference: youtube video*/
.left   { transform: rotateY(-90deg) translateZ(30px); } /*reference: youtube video*/
.top    { transform: rotateX(90deg) translateZ(30px); }  /*reference: youtube video*/
.bottom { transform: rotateX(-90deg) translateZ(30px); }  /*reference: youtube video*/

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.face p {
    text-align:justify;
    padding: 5px; 
    font-size: 8px;
}

@keyframes rotate {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@media (max-width: 768px) {
    /* CSS rules for mobile layout */
}