/* body and ul elements */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* header */
header {
    align-items: center;
    background-color: #d8b3b3;
    text-align: center;
    font-family:'Segoe';
    margin: 0;
}

.title {
font-size: 22px;
margin: 0;
color: #333;
}

nav ul {
    background-color: #9a7575;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    vertical-align: top;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #141010;
    text-align: center;
    padding: 30px;
    transition: background-color 0.2s;
}

nav ul li a:hover {
    background-color: #b0869a;
    color: #ffff;
}

/* dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ac9a9a;
    font-size: 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li.active a {
    font-weight: bold;
}

#about-us {
    position: flex;
    border-style: double;
    background: linear-gradient(to bottom, #f9f7f6, #f1eaf6);
    padding: 40px;
    text-align: center;
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#about-us h2 {
    font-size: 32px;
    color: #120c0c; 
    margin-bottom: 20px;
}

#about-us p {
    font-size: 18px;
    color: #0e0c0c; 
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: #b0788c; 
    margin-bottom: 30px;
    border-radius: 5px;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 250px;
    height: 250px;
}

.box {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: spin 10s infinite linear;
}

.face {
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(179, 144, 170, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: rgb(17, 9, 9);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front { transform: rotateY(0deg); }

/* Spin */
@keyframes spin {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(0deg) rotateY(360deg); }
}

.play-button {
    position: absolute;
    background-color: #8e6767;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 300px; 

}

.play-button:hover {
    background-color: #f37777;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d8b3b3;
    color: #333;
}

.description-cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    border: 2px double #333;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    margin-top: 120px;
    background-color: #fdd1e0;
    margin-bottom: 50px;
}

.card:hover {
    transform: scale(1.05);
}

/*Reponsive*/
@media (max-width: 768px) {
    #about-us,
    .box-container {
        width: 100%;
        height: auto;
        margin: 10px auto;
    }

}
@media (max-width: 768px) {
    .description-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
}