body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* header */
header {
    align-items: center;
    background-color: #d8b3b3;
    text-align: center;
    font-family:'Segoe';
    height: max-content;
    margin: 0 auto;
}

.title {
font-size: 22px;
margin: 0;
color: #333;
}

nav ul {
    background-color: #9a7575;
    text-align: center;
    padding: 30px;
    font-size: 18px;
    vertical-align: top;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #141010;
    text-align: center;
    padding: 30px;
    transition: background-color 0.2s;
}

nav ul li a:hover {
    background-color: #b0869a;
    color: #ffff;
}

/* dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ac9a9a;
    font-size: 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li.active a {
    font-weight: bold;
}


.game-container {
    background: linear-gradient(45deg, #cbc2f6, #f68176);
    border: 2px solid #1d1b1b;
    font-family: 'verdana';
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(98, 87, 87, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 125px;

}

.game-container2{
        background: linear-gradient(45deg, #cbc2f6, #ebc7c3);
        border: 2px solid #1d1b1b;
        font-family: 'Segoe UI';
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(98, 87, 87, 0.1);
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.2s;
        padding: 10px;
        text-align: center;
        position: relative;
        margin: auto;
        width: 800px;
        Height: 850px;
        padding: 40px;
}

.game-description {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    left: 0;
    right: 0;
    transition: opacity 0.2s;
}

.game-container:hover .game-description {
    display: block;
    transform: translateY(50%);

}

.game-display {
    padding:10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #1d1b1b; 
    background-color: #f0f8ff; 
}

table th {
    border: 1px solid #110f0f;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    background-color: #6495ED; 
    color: #fff; 
}

table td {
    border: 1px solid #110f0f;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    background-color: #87CEFA; 
    color: #190c0c; 
}

table tr:hover {
    background-color: #add8e6; 
}

.back-arrow {
    position: fixed;
    bottom: -5px;
    left: 500px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    transition: opacity 0.3s;
}

.back-arrow img {
    width: 125px; 
    height: 125px; 
    margin-right: 5px; 
    transition: opacity 0.3s;
}

.back-arrow:hover img {
    opacity: 0.7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-container {
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: #0d0d0f;
}

.player-choice, .computer-choice, .result {
    flex: 1;
    text-align: center;
    padding-top: 20px;
}

.choice-icons {
    display: flex;
    justify-content: center;

}

.icon {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 10px;
    width: 100px;
    background-color: #fff; 
    transition: background-color 0.2s;
}

.icon:hover {
    background-color: #eee; 
}

.icon img {
    width: 100%;
    height: auto;
}

#round-result {
    font-size: 18px;
    margin-top: 10px;
}

#player-score, #computer-score {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

#computer-icon {
    margin-top: 20px;
}

.clear-button {
    position: flex;
    background: linear-gradient(to bottom, #4CAF50, #45a049); 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition:ease-in-out, box-shadow 0.3s; 
    /* 3D effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clear-button:hover {
    background: linear-gradient(to bottom, #45a049, #4CAF50);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.4);
}

.exit-button {
    position: flex;
    background: linear-gradient(to bottom, #f44336, #d32f2f); 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 50px;
    width:100%;
    height:50px;
    cursor: pointer;
    transition: ease-in-out 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exit-button:hover {
    background: linear-gradient(to bottom, #d32f2f, #f44336); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.4);
}

.scoreboard{
    padding-top: 20px;
}

.back-arrow {
    left: 500px;
}

.icon {
    margin-top: 10px;
}
body{
    background-color: #d8b3b3;
    color: #333;
}


@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .game-container,
    .game-container2 {
        width:25%;
        height: auto;
        margin: 10px auto;
    }

}